@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Actor&family=Advent+Pro&family=Alegreya&family=Almendra&family=Amiri&family=Amita&family=Arima+Madurai&family=Arizonia&family=Arya&family=Athiti&family=Average&family=BIZ+UDPGothic&family=Bai+Jamjuree&family=Berkshire+Swash&family=Bona+Nova&family=Cantora+One&family=Cardo&family=Chau+Philomene+One&family=Cherry+Cream+Soda&family=Cormorant+Garamond:wght@400;600&family=Cormorant+Infant:ital,wght@0,400;0,500;1,400&family=Covered+By+Your+Grace&family=Crimson+Pro&family=Doppio+One&family=Dorsa&family=Dosis&family=Dynalight&family=EB+Garamond&family=Economica&family=Elsie+Swash+Caps&family=Fira+Sans+Extra+Condensed&family=Fira+Sans:wght@400;900&family=Fondamento&family=Freckle+Face&family=Freehand&family=GFS+Didot&family=Georama&family=Grape+Nuts&family=Herr+Von+Muellerhoff&family=Hind&family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+Double+Pica&family=Indie+Flower&family=Inria+Sans&family=Istok+Web&family=Jura&family=Kalam&family=Kanit&family=Katibeh&family=Kodchasan&family=Lato:wght@100;400&family=Libre+Barcode+39&family=Libre+Barcode+39+Extended+Text&family=Life+Savers:wght@800&family=Literata:opsz@7..72&family=Lora&family=Luxurious+Script&family=Mansalva&family=Marmelad&family=Miniver&family=Mirza&family=Mitr&family=Mountains+of+Christmas&family=Mouse+Memoirs&family=Mukta&family=Mukta+Mahee&family=Mukta+Malar&family=Mukta+Vaani&family=News+Cycle&family=Nothing+You+Could+Do&family=Oregano&family=Over+the+Rainbow&family=PT+Sans&family=PT+Sans+Caption&family=PT+Sans+Narrow&family=Paprika&family=Petit+Formal+Script&family=Playfair+Display&family=Quattrocento+Sans&family=Raleway&family=Raleway+Dots&family=Ribeye&family=Risque&family=Roboto+Condensed&family=Roboto+Slab&family=Roboto:wght@100;400&family=Ropa+Sans&family=Rosario:wght@400;700&family=Rum+Raisin&family=Sahitya&family=Salsa&family=Sansita+Swashed&family=Share+Tech&family=Shippori+Mincho&family=Smooch+Sans&family=Sorts+Mill+Goudy&family=Style+Script&family=Syne+Tactile&family=Taviraj&family=Truculenta:opsz@12..72&family=UnifrakturCook&family=Vazirmatn&family=Voces&family=Vollkorn&family=Vujahday+Script&family=Yanone+Kaffeesatz&display=swap');

:root {
  --maincol: rgba(220, 20, 60, 1);
  --bgcol: rgba(220, 20, 60, 0.101);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-feature-settings: 'font-variant-ligatures'; */
  font-variant: common-ligatures discretionary-ligatures contextual diagonal-fractions;
  font-variant-ligatures: discretionary-ligatures;
  -moz-font-feature-settings: "dlig";
  -webkit-font-feature-settings: "dlig";
  font-feature-settings: "dlig";
  /* font-variant-ligatures: discretionary-ligatures; */
  /* font-feature-settings: "diga"; */
  /* font-feature-settings: "ss01"; */
  /* font-feature-settings: "swsh" 3; */
  /* font-family: 'Abhaya Libre', serif; */
  /* font-family: 'Actor', sans-serif; */
  /* font-family: 'Advent Pro', sans-serif; */
  /* font-family: 'Alegreya', serif; */
  /* font-family: 'Almendra', serif; */
  /* font-family: 'Amiri', serif; */
  /* font-family: 'Amita', cursive; */
  /* font-family: 'Arima Madurai', cursive; */
  /* font-family: 'Arizonia', cursive; */
  /* font-family: 'Arya', sans-serif; */
  /* font-family: 'Athiti', sans-serif; */
  /* font-family: 'Average', serif; */
  /* font-family: 'Bai Jamjuree', sans-serif; */
  /* font-family: 'Berkshire Swash', cursive; */
  /* font-family: 'BIZ UDPGothic', sans-serif; */
  /* font-family: 'Bona Nova', serif; */
  /* font-family: 'Cantora One', sans-serif; */
  font-family: 'Cardo', serif;
  /* font-family: 'Chau Philomene One', sans-serif; */
  /* font-family: 'Cherry Cream Soda', cursive; */
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Cormorant Infant', serif; */
  /* font-family: 'Covered By Your Grace', cursive; */
  /* font-family: 'Crimson Pro', serif; */
  /* font-family: 'Doppio One', sans-serif; */
  /* font-family: 'Dorsa', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Dynalight', cursive; */
  /* font-family: 'EB Garamond', serif; */
  /* font-family: 'Economica', sans-serif; */
  /* font-family: 'Elsie Swash Caps', cursive; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Fira Sans Extra Condensed', sans-serif; */
  /* font-family: 'Fondamento', cursive; */
  /* font-family: 'Freckle Face', cursive; */
  /* font-family: 'Freehand', cursive; */
  /* font-family: 'Georama', sans-serif; */
  /* font-family: 'GFS Didot', serif; */
  /* font-family: 'Grape Nuts', cursive; */
  /* font-family: 'Herr Von Muellerhoff', cursive; */
  /* font-family: 'Hind', sans-serif; */
  /* font-family: 'IM Fell Double Pica', serif; */
  /* font-family: 'IM Fell DW Pica', serif; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Inria Sans', sans-serif; */
  /* font-family: 'Istok Web', sans-serif; */
  /* font-family: 'Jura', sans-serif; */
  /* font-family: 'Kalam', cursive; */
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'Katibeh', cursive; */
  /* font-family: 'Kodchasan', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Libre Barcode 39', cursive; */
  /* font-family: 'Libre Barcode 39 Extended Text', cursive; */
  /* font-family: 'Life Savers', cursive; */
  /* font-family: 'Literata', serif; */
  /* font-family: 'Lora', serif; */
  /* font-family: 'Luxurious Script', cursive; */
  /* font-family: 'Mansalva', cursive; */
  /* font-family: 'Marmelad', sans-serif; */
  /* font-family: 'Miniver', cursive; */
  /* font-family: 'Mirza', cursive; */
  /* font-family: 'Mitr', sans-serif; */
  /* font-family: 'Mountains of Christmas', cursive; */
  /* font-family: 'Mouse Memoirs', sans-serif; */
  /* font-family: 'Mukta', sans-serif; */
  /* font-family: 'Mukta Mahee', sans-serif; */
  /* font-family: 'Mukta Malar', sans-serif; */
  /* font-family: 'Mukta Vaani', sans-serif; */
  /* font-family: 'News Cycle', sans-serif; */
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Oregano', cursive; */
  /* font-family: 'Over the Rainbow', cursive; */
  /* font-family: 'Paprika', cursive; */
  /* font-family: 'Petit Formal Script', cursive; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'PT Sans', sans-serif; */
  /* font-family: 'PT Sans Caption', sans-serif; */
  /* font-family: 'PT Sans Narrow', sans-serif; */
  /* font-family: 'Quattrocento Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Raleway Dots', cursive; */
  /* font-family: 'Ribeye', cursive; */
  /* font-family: 'Risque', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Ropa Sans', sans-serif; */
  /* font-family: 'Rosario', sans-serif; */
  /* font-family: 'Rum Raisin', sans-serif; */
  /* font-family: 'Sahitya', serif; */
  /* font-family: 'Salsa', cursive; */
  /* font-family: 'Sansita Swashed', cursive; */
  /* font-family: 'Share Tech', sans-serif; */
  /* font-family: 'Shippori Mincho', serif; */
  /* font-family: 'Smooch Sans', sans-serif; */
  /* font-family: 'Sorts Mill Goudy', serif; */
  /* font-family: 'Style Script', cursive; */
  /* font-family: 'Syne Tactile', cursive; */
  /* font-family: 'Taviraj', serif; */
  /* font-family: 'Truculenta', sans-serif; */
  /* font-family: 'UnifrakturCook', cursive; */
  /* font-family: 'Vazirmatn', sans-serif; */
  /* font-family: 'Voces', cursive; */
  /* font-family: 'Vollkorn', serif; */
  /* font-family: 'Vujahday Script', cursive; */
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
